.counterContainer {
  position: absolute;
  top: 42vh;
  right: 21.5%;
}

.status {
  position: absolute;
  bottom: 17%;
  right: 18%;
}

.guestVideo {
  background-color: #f2f1ef;
}

.userInfo {
  position: absolute;
  top: 6%;
  left: calc(100vw - 770px);
}

.guestInfo {
  position: absolute;
  top: 55%;
  left: calc(100vw - 770px);
}

.button {
  padding: 11px;
  outline: none;
  background-color: #491a29;
  color: white;
  border: none;
  border-radius: 7px;
}
